//Media Queries

@mixin breakpoint($point) {
  @if $point == medium {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $point == large {
    @media screen and (min-width: 1400px) {
      @content;
    }
  }
}

@mixin flex(
  $justify-content: center,
  $flex-direction: column,
  $flex-wrap: initial,
  $align-items: center
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}
