@import '_mixins.scss';

@font-face {
  font-family: 'Metropolis-bold';
  src: url('../font/metropolis.bold.otf');
}

@font-face {
  font-family: 'Metropolis-medium';
  src: url('../font/metropolis.medium.otf');
}

//Colors
$clr-background: #004643;
$clr-button: #f9bc60;
$clr-button-text: #001e1d;
$clr-headline: #fffffe;
$clr-paragraph: #abd1c6;
$clr-tertiary: #e16162;
//Color S2
$clr-subheadline: #0f3433;
//Color S3
$clr-card-background: #e8e4e6;

//Fonts
$ff-bold: 'Metropolis-bold', sans-serif;
$ff-medium: 'Metropolis-medium', sans-serif;

//Border radius
$border-rad: 5px;

//General rules
body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: $ff-bold;
  color: $clr-headline;
}

h2 {
  font-family: $ff-bold;
}

h3 {
  font-family: $ff-bold;
  text-align: center;
}

p {
  font-family: $ff-medium;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $clr-headline;
  font-family: $ff-bold;
}

section {
  padding: 5%;
}

form {
  @include flex($justify-content: initial, $align-items: initial);
  gap: 2rem;
}

button[type='button'] {
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: $border-rad;
  letter-spacing: 2px;
  padding: 0.5rem;
  cursor: pointer;
  font-family: $ff-bold;
}

.container {
  width: 90%;
  padding: 5%;
  background-color: $clr-background;
}

.header__top {
  @include flex($justify-content: initial);
}

.logo {
  a {
    @include flex($flex-direction: row);
    gap: 0.7rem;
    img {
      width: 3.3rem;
      height: 3.3rem;
    }
    .logo__text {
      font-family: $ff-bold;
      color: $clr-headline;
      font-size: 1.4rem;
    }
  }
}

.nav {
  ul {
    padding: 0;
    @include flex($flex-direction: row);
    gap: 1rem;
  }
}

.hero {
  @include flex($justify-content: initial);
  @include breakpoint(medium) {
    flex-direction: row-reverse;
    align-items: center;
  }

  h1 {
    line-height: 2.5rem;
    font-size: 1.8rem;
    @include breakpoint(medium) {
      line-height: 2.75rem;
      font-size: 2.1rem;
    }
  }

  img {
    order: -1;
    align-self: center;
    min-width: 280px;
    max-width: 720px;
  }

  p {
    color: $clr-paragraph;
    line-height: 2rem;
    @include breakpoint(medium) {
      line-height: 2.2rem;
      font-size: 1.1rem;
    }
  }

  a {
    color: $clr-button-text;
    text-align: center;

    .cta {
      background-color: $clr-button;
      width: 5.2rem;
      padding: 1.3rem 0.9rem;
      border-radius: 0.7rem;
      text-align: center;
      font-size: 0.8rem;
      @include breakpoint(medium) {
        font-size: 1.1rem;
        padding: 1.45rem 1.05rem;
      }
    }
  }
}

//Common Section Rules
.subtitle-info {
  p {
    line-height: 1.5rem;
  }
}

.cards-container {
  @include flex($justify-content: initial, $align-items: initial);
  gap: 1rem;
  @include breakpoint(medium) {
    @include flex(
      $justify-content: space-between,
      $flex-direction: row,
      $flex-wrap: wrap
    );
  }
}

.card {
  padding: 5%;
  min-width: 250px;
  border-radius: $border-rad;

  @include breakpoint(medium) {
    padding: 3%;
    width: 41%;
  }
}

.form-group {
  label {
    font-family: $ff-medium;
  }

  input {
    box-sizing: border-box;
    border-radius: $border-rad;
    padding: 0.5rem;
    font-family: $ff-bold;
  }
}

// ***Geometry Section*** //

.geometry {
  background-color: $clr-paragraph;
  .subtitle-info {
    h2 {
      color: $clr-button-text;
    }

    p {
      color: $clr-subheadline;
    }
  }
}

.geometry__card {
  background-color: $clr-background;

  .card-top {
    @include flex($justify-content: initial, $flex-direction: row);
    gap: 1rem;

    .card-top__img-container {
      background-color: $clr-paragraph;
      border: 2px solid $clr-button-text;
      border-radius: $border-rad;
      width: 2.2rem;
      height: 2.2rem;
      @include flex($flex-direction: row);
      img {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    h3 {
      display: inline-block;
      color: $clr-headline;
    }
  }

  form {
    .form-group-container {
      @include flex(
        $justify-content: space-between,
        $flex-direction: row,
        $align-items: initial
      );
      gap: 0.4rem;
    }

    .form-group {
      label,
      input {
        display: block;
        width: 100%;
      }

      label {
        color: $clr-headline;
        margin-bottom: 0.6rem;
      }

      input {
        border: 2px solid $clr-button-text;
        color: $clr-button-text;
      }
    }

    button {
      border: 2px solid $clr-button-text;
      color: $clr-headline;
    }
  }
}

// ***Discounts Section*** //
.discounts {
  background-color: $clr-subheadline;

  .subtitle-info {
    h2 {
      color: $clr-headline;
    }

    p {
      color: $clr-paragraph;
    }
  }

  .discount__cards {
    @include breakpoint(medium) {
      align-items: initial;
    }

    h3 {
      color: $clr-button-text;
    }

    .card {
      background-color: $clr-card-background;
    }
  }
}

.discount__cards {
  .discount__card--left {
    .form-group {
      color: $clr-subheadline;
      @include flex($justify-content: space-between, $flex-direction: row);

      input {
        border: 2px solid $clr-subheadline;
        color: $clr-subheadline;
      }
    }

    button {
      border: 2px solid $clr-subheadline;
      color: $clr-subheadline;
    }
  }

  .discount__card--right {
    img {
      display: block;
      margin-inline: auto;
      margin-block: 3rem;
      width: 68%;
      max-height: 380px;
    }

    div {
      @include flex($flex-direction: row);
      gap: 0.8rem;
      margin-bottom: 0.5rem;
      font-family: $ff-bold;
      font-size: 1.2rem;
    }

    .before-container {
      line-height: 26px;
    }
  }
}

//DRAW LINE ON BEFORE PRICE
.before {
  text-decoration: line-through wavy $clr-tertiary 2px;
}

$accentcolor: $clr-background;

.coupon-container {
  display: none;
  margin-top: 1rem;
  .radiobtn {
    position: relative;
    display: block;
  }
  .radiobtn label {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    color: $clr-subheadline;
    font-family: $ff-bold;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid grey;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .radiobtn label:after,
  .radiobtn label:before {
    content: '';
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: $border-rad;
    background: grey;
  }
  .radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
      0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url('../img/checked.svg');
  }

  //User just have to click on label
  input[type='radio'] {
    display: none;
  }

  //Multiple changes when user clicks on a btn
  input[type='radio']:checked + label {
    background: grey;
    color: white;
    border-color: $accentcolor;
  }
  input[type='radio']:checked + label:after {
    background: $accentcolor;
  }
  input[type='radio']:checked + label:before {
    width: 20px;
    height: 20px;
  }
}

//SHOW/HIDE COUPONS
.view-coupons {
  display: block;
}

// ***Statistics Section*** //

.inline-container {
  @include flex($flex-direction: row, $flex-wrap: wrap);
}

.statistics {
  background-color: $clr-paragraph;

  .subtitle-info {
    h2 {
      color: $clr-button-text;
    }

    p {
      color: $clr-subheadline;
    }
  }

  .cards-container {
    @include breakpoint(medium) {
      @include flex($justify-content: space-between, $flex-direction: column);
    }
    // border: 2px solid blue;
  }

  .card {
    @include breakpoint(medium) {
      width: 94%;
    }
    // border: 2px solid black;
    background-color: $clr-background;
  }
}

.statistics__card--top {
  h3 {
    color: $clr-headline;
    font-size: 1.25rem;
  }

  h3 + p {
    text-align: center;
    color: $clr-headline;
    font-size: 0.95rem;
  }

  .form-group {
    position: relative;
    display: inline-block;
    margin: 0.6rem;

    div {
      display: inline-block;
    }

    input {
      width: 4.5rem;
      padding-top: 0.595rem;
      padding-bottom: 0.595rem;
      border: 2px solid $clr-button-text;
      color: $clr-button-text;
    }

    label {
      color: $clr-headline;
      position: absolute;
      left: 23px;
      top: 41px;
    }
  }

  button {
    display: inline-block;
    width: auto;
    letter-spacing: 0;
    border: 2px solid $clr-button-text;
  }
}

.statistics__card--bottom {
  .outputs-container {
    width: 100%;
    margin-bottom: 2rem;
    font-family: $ff-medium;
    font-size: 3rem;
    color: $clr-headline;

    span {
      font-family: $ff-medium;
      font-size: 5rem;
      color: $clr-headline;
      margin: 0.5rem;
    }
  }

  .statistics__results {
    @include flex(
      $justify-content: space-between,
      $flex-direction: row,
      $flex-wrap: wrap,
      $align-items: center
    );

    .statistic__result {
      font-family: $ff-medium;
      font-size: 1.25rem;
      color: $clr-headline;
    }
  }
}

//modal window
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;

  .modal-container {
    background: $clr-button;
    border-radius: $border-rad;
    width: 90vw;
    height: 30vh;
    max-width: 500px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    font-family: $ff-bold;

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      background: transparent;
      border-color: transparent;
      color: $clr-button-text;
      cursor: pointer;
    }
  }
}
// OPEN/CLOSE MODAL
.open-modal {
  visibility: visible;
  z-index: 10;
}
