//Colors
$clr-background: #004643;
$clr-button: #f9bc60;
$clr-button-text: #001e1d;
$clr-headline: #fffffe;
$clr-paragraph: #abd1c6;

body {
  box-sizing: border-box;
  background-color: $clr-background;
}

@font-face {
  font-family: 'Metropolis-bold';
  src: url('../font/metropolis.bold.otf');
}

@font-face {
  font-family: 'Metropolis-medium';
  src: url('../font/metropolis.medium.otf');
}

h1 {
  font-family: 'Metropolis-bold', sans-serif;
  color: $clr-headline;
}

p {
  font-family: 'Metropolis-medium', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $clr-headline;
  font-family: 'Metropolis-bold', sans-serif;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-block: 5vh;
  max-width: 1200px;
}

.header__top {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.logo {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    img {
      width: 3.3rem;
      height: 3.3rem;
    }
    .logo__text {
      font-family: 'Metropolis-bold', sans-serif;
      color: $clr-headline;
      font-size: 1.4rem;
    }
  }
}

.nav {
  ul {
    // margin-left: auto;
    // margin-right: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;

  h1 {
    line-height: 2.5rem;
    font-size: 1.8rem;
  }

  img {
    order: -1;
    align-self: center;
    min-width: 360px;
    max-width: 720px;
  }

  p {
    color: $clr-paragraph;
    line-height: 2rem;
  }

  .cta {
    background-color: $clr-button;
    width: 4rem;
    padding: 1.3rem 0.9rem;
    border-radius: 0.7rem;
    text-align: center;
    a {
      color: $clr-button-text;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
