//Colors
$clr-background: #004643;
$clr-button: #f9bc60;
$clr-button-text: #001e1d;
$clr-headline: #fffffe;
$clr-paragraph: #abd1c6;
//Color S2
$clr-subheadline: #0f3433;

body {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Metropolis-bold';
  src: url('../font/metropolis.bold.otf');
}

@font-face {
  font-family: 'Metropolis-medium';
  src: url('../font/metropolis.medium.otf');
}

h1 {
  font-family: 'Metropolis-bold', sans-serif;
  color: $clr-headline;
}

p {
  font-family: 'Metropolis-medium', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $clr-headline;
  font-family: 'Metropolis-bold', sans-serif;
}

.container {
  width: 90%;
  padding: 5%;
  background-color: $clr-background;
}

.header__top {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.logo {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    img {
      width: 3.3rem;
      height: 3.3rem;
    }
    .logo__text {
      font-family: 'Metropolis-bold', sans-serif;
      color: $clr-headline;
      font-size: 1.4rem;
    }
  }
}

.nav {
  ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;

  h1 {
    line-height: 2.5rem;
    font-size: 1.8rem;
  }

  img {
    order: -1;
    align-self: center;
    min-width: 280px;
    max-width: 720px;
  }

  p {
    color: $clr-paragraph;
    line-height: 2rem;
  }

  .cta {
    background-color: $clr-button;
    width: 4rem;
    padding: 1.3rem 0.9rem;
    border-radius: 0.7rem;
    text-align: center;
    a {
      color: $clr-button-text;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

.geometry {
  background-color: $clr-paragraph;
  padding: 5%;
  .subtitle-info {
    h2 {
      font-family: 'Metropolis-bold', sans-serif;
      color: $clr-button-text;
    }

    p {
      color: $clr-subheadline;
      line-height: 1.5rem;
    }
  }

  .geometry__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.geometry__card {
  background-color: $clr-background;
  padding: 5%;
  min-width: 280px;
  border-radius: 3px;
  .card-top {
    display: flex;
    align-items: center;
    gap: 1rem;

    .card-top__img-container {
      background-color: $clr-paragraph;
      border: 2px solid $clr-button-text;
      border-radius: 3px;
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    h3 {
      display: inline-block;
      color: $clr-headline;
      font-family: 'Metropolis-bold', sans-serif;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-group-container {
      display: flex;
      justify-content: space-between;
      gap: 0.4rem;
    }

    label,
    input {
      display: block;
      width: 100%;
    }

    label {
      color: $clr-headline;
      margin-bottom: 0.6rem;
      font-family: 'Metropolis-medium', sans-serif;
    }

    input {
      box-sizing: border-box;
      border: 2px solid $clr-button-text;
      color: $clr-button-text;
      border-radius: 3px;
      padding: 0.5rem;
      font-family: 'Metropolis-bold', sans-serif;
    }

    button {
      display: block;
      width: 100%;
      background-color: transparent;
      border: 2px solid $clr-button-text;
      color: $clr-headline;
      border-radius: 3px;
      letter-spacing: 2px;
      padding: 0.5rem;
      cursor: pointer;
      font-family: 'Metropolis-bold', sans-serif;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;

  .modal-container {
    background: $clr-button;
    border-radius: 3px;
    width: 90vw;
    height: 30vh;
    max-width: 500px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    font-family: 'Metropolis-bold', sans-serif;

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      background: transparent;
      border-color: transparent;
      color: $clr-button-text;
      cursor: pointer;
    }
  }
}
/* OPEN/CLOSE MODAL */
.open-modal {
  visibility: visible;
  z-index: 10;
}
