@font-face {
  font-family: 'Metropolis-bold';
  src: url("../font/metropolis.bold.otf");
}

@font-face {
  font-family: 'Metropolis-medium';
  src: url("../font/metropolis.medium.otf");
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Metropolis-bold", sans-serif;
  color: #fffffe;
}

h2 {
  font-family: "Metropolis-bold", sans-serif;
}

h3 {
  font-family: "Metropolis-bold", sans-serif;
  text-align: center;
}

p {
  font-family: "Metropolis-medium", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fffffe;
  font-family: "Metropolis-bold", sans-serif;
}

section {
  padding: 5%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 2rem;
}

button[type='button'] {
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Metropolis-bold", sans-serif;
}

.container {
  width: 90%;
  padding: 5%;
  background-color: #004643;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 0.7rem;
}

.logo a img {
  width: 3.3rem;
  height: 3.3rem;
}

.logo a .logo__text {
  font-family: "Metropolis-bold", sans-serif;
  color: #fffffe;
  font-size: 1.4rem;
}

.nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 1rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

@media screen and (min-width: 768px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero h1 {
  line-height: 2.5rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    line-height: 2.75rem;
    font-size: 2.1rem;
  }
}

.hero img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 280px;
  max-width: 720px;
}

.hero p {
  color: #abd1c6;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .hero p {
    line-height: 2.2rem;
    font-size: 1.1rem;
  }
}

.hero a {
  color: #001e1d;
  text-align: center;
}

.hero a .cta {
  background-color: #f9bc60;
  width: 5.2rem;
  padding: 1.3rem 0.9rem;
  border-radius: 0.7rem;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .hero a .cta {
    font-size: 1.1rem;
    padding: 1.45rem 1.05rem;
  }
}

.subtitle-info p {
  line-height: 1.5rem;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card {
  padding: 5%;
  min-width: 250px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 3%;
    width: 41%;
  }
}

.form-group label {
  font-family: "Metropolis-medium", sans-serif;
}

.form-group input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Metropolis-bold", sans-serif;
}

.geometry {
  background-color: #abd1c6;
}

.geometry .subtitle-info h2 {
  color: #001e1d;
}

.geometry .subtitle-info p {
  color: #0f3433;
}

.geometry__card {
  background-color: #004643;
}

.geometry__card .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 1rem;
}

.geometry__card .card-top .card-top__img-container {
  background-color: #abd1c6;
  border: 2px solid #001e1d;
  border-radius: 5px;
  width: 2.2rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

.geometry__card .card-top .card-top__img-container img {
  width: 1.75rem;
  height: 1.75rem;
}

.geometry__card .card-top h3 {
  display: inline-block;
  color: #fffffe;
}

.geometry__card form .form-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 0.4rem;
}

.geometry__card form .form-group label,
.geometry__card form .form-group input {
  display: block;
  width: 100%;
}

.geometry__card form .form-group label {
  color: #fffffe;
  margin-bottom: 0.6rem;
}

.geometry__card form .form-group input {
  border: 2px solid #001e1d;
  color: #001e1d;
}

.geometry__card form button {
  border: 2px solid #001e1d;
  color: #fffffe;
}

.discounts {
  background-color: #0f3433;
}

.discounts .subtitle-info h2 {
  color: #fffffe;
}

.discounts .subtitle-info p {
  color: #abd1c6;
}

@media screen and (min-width: 768px) {
  .discounts .discount__cards {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.discounts .discount__cards h3 {
  color: #001e1d;
}

.discounts .discount__cards .card {
  background-color: #e8e4e6;
}

.discount__cards .discount__card--left .form-group {
  color: #0f3433;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

.discount__cards .discount__card--left .form-group input {
  border: 2px solid #0f3433;
  color: #0f3433;
}

.discount__cards .discount__card--left button {
  border: 2px solid #0f3433;
  color: #0f3433;
}

.discount__cards .discount__card--right img {
  display: block;
  margin-inline: auto;
  margin-block: 3rem;
  width: 68%;
}

.discount__cards .discount__card--right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
  font-family: "Metropolis-bold", sans-serif;
  font-size: 1.2rem;
}

.before {
  -webkit-text-decoration: line-through wavy #e16162 2px;
          text-decoration: line-through wavy #e16162 2px;
}

.coupon-container {
  display: none;
  margin-top: 1rem;
}

.coupon-container .radiobtn {
  position: relative;
  display: block;
}

.coupon-container .radiobtn label {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  color: #0f3433;
  font-family: "Metropolis-bold", sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid grey;
  margin-bottom: 8px;
  cursor: pointer;
}

.coupon-container .radiobtn label:after,
.coupon-container .radiobtn label:before {
  content: '';
  position: absolute;
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: grey;
}

.coupon-container .radiobtn label:before {
  background: transparent;
  -webkit-transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url("../img/checked.svg");
}

.coupon-container input[type='radio'] {
  display: none;
}

.coupon-container input[type='radio']:checked + label {
  background: grey;
  color: white;
  border-color: #004643;
}

.coupon-container input[type='radio']:checked + label:after {
  background: #004643;
}

.coupon-container input[type='radio']:checked + label:before {
  width: 20px;
  height: 20px;
}

.view-coupons {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.modal-overlay .modal-container {
  background: #f9bc60;
  border-radius: 5px;
  width: 90vw;
  height: 30vh;
  max-width: 500px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  font-family: "Metropolis-bold", sans-serif;
}

.modal-overlay .modal-container .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #001e1d;
  cursor: pointer;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}
/*# sourceMappingURL=style.css.map */